    {# view is included in ComentPost show #}
    <h1>Commentpost creation</h1>

    {{ form_start(form, {'action': path('commentpost_new', {id: post_id}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commentpost_index') }}">Back to the list</a>
        </li>
    </ul>
