    {# view is included in ComentCode show #}
    <h1>Commentcode creation</h1>
    
    {{ form_start(form, {'action': path('commentcode_new', {id: code_id}), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commentcode_index') }}">Back to the list</a>
        </li>
    </ul>

