{% extends "AppBundle::layout.html.twig" %}


{%- block body %}
<p>
    log as admin: 
</p>
<p>
    <code>manu</code> : <code>aaa</code>
</p>
<p>
    log as user:
</p>
<p>
    <code>manu2</code> : <code>aaa</code>
</p>
<h3>@todo</h3>
<ul>
    <li>check routes integrity (app/admin)</li>
</ul>

<code>
    {{ dump(app.user) }}
    {{ dump(app) }}
</code>
{%- endblock %}
